
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

@*<div>
        <b>PessoaId</b>
    </div>
    <div>
        @ViewData["PessoaId"]
    </div>
    <div>
        <b>Nome</b>
    </div>
    <div>
        @ViewData["Nome"]
    </div>
    <div>
        <b>Twitter</b>
    </div>
    <div>
        @ViewData["Twitter"]
    </div>*@

<h2>Lista</h2>

